@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/theme.css';
@import 'additional-styles/toolkit.css';

@import 'tailwindcss/utilities';

/* Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive */
@layer utilities {
  .rtl {
    direction: rtl;
  }
}

thead tr tbody {
  display: block;
}

dialog:modal {
  max-height: 100vh;
}

lite-youtube {
  max-width: none !important;
}

.PhoneInputInput {
  @apply w-full border-0 focus:border-0 focus:outline-none focus:ring-0 active:border-0;
}
